<html>
	<head>
		<title>DJ McLovin Music Database</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!-- <link rel="stylesheet" href="/static/music/assets/css/main.css" />-->
	</head>
	<body>
		<!-- Header -->
			<header id="header">
				<h1><a href="/music/">DJ McLovin</a></h1>
			</header>

		{% if full_name %}
			<br>
			<a href="/music/artist/{{artist_id}}/">{{ full_name }}</a>
		{% endif %}
		{% if album_name %}
			| {{ album_name }}
		{% endif %}
		{% if cover_url %}
			<br>
			<img src="/media/cover_art/{{ cover_url }}">
			<br>
		{% endif %}
		
		<p>

		{% if song_list %}
			<table>
    			{% for s in song_list %}
				<tr>
				<td>
				<audio controls>
					<source src="/media/{{ s.file_path }}" type="audio/mpeg">
				</audio>
				</td>
				<td>
				<a href="/music/song/{{ s.id }}/">{{ s.song_name }}</a>
				</td>
				</tr>
    			{% endfor %}
    			</table>
		{% else %}
    			<p>No songs available for this artist / album.</p>
		{% endif %}		

		{% include "./footer.html" %}

		<!-- Scripts -->
			<!-- <script src="/static/music/assets/js/main.js"></script> -->

	</body>
</html>
