<html>
	<head>
		<title>DJ McLovin Music Database</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/music/assets/css/main.css" />
	</head>
	<body class="is-preload">
		<p>

		<!-- Header -->
			<header id="header">
				<h1><a href="/music/">DJ McLovin</a></h1>
			</header>

		<p>

		<p>
		{% if full_name %}
			<a href="/music/artist/{{artist_id}}/">{{ full_name }}</a>
		{% endif %}
		{% if album_name %}
			| {{ album_name }}
		{% endif %}
		
		<p>

		{% if song_list %}
			<table>
    			{% for s in song_list %}
				<tr>
				<td>
				<audio controls>
					<source src="/media/{{ s.file_path }}" type="audio/mpeg">
				</audio>
				</td>
				<td>
				<a href="/music/song/{{ s.id }}/">{{ s.song_name }}</a>
				</td>
				</tr>
    			{% endfor %}
    			</table>
		{% else %}
    			<p>No songs available for this artist / album.</p>
		{% endif %}		

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="https://www.facebook.com/nycdjmclovin/"class="icon brands fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="https://twitter.com/jskills" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="https://www.instagram.com/nygoofball/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="https://github.com/jskills/" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="mailto:jim@jskills.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; 2020</li>
				</ul>
			</footer>

		<!-- Scripts -->
			<!-- <script src="/static/music/assets/js/main.js"></script> -->

	</body>
</html>
