<!DOCTYPE HTML>
<html>
	<head>
		<title>DJ McLovin Music Database</title>
		{% include "./header.html" %}
        </head>
        <body>
                {% include "./nav.html" %}

                <div id="main">
                <div id="content" class="container">
                <section>


		<p>

		{% if full_name %}
			<header>
			<h2>
			Artist : {{ full_name }}	
			</h2>
			<p></p>
			<h3>
			Songs : {{total_songs}}
			</h3>
			</header>
		{% endif %}

		{% if album_list %}
			<h3>
                       	<b>Albums</b>
                        </h3>
    			<ul>
    			{% for a in album_list %}
        			<li><a href="/music/album/{{ artist_id }}/{{ a.album_url }}/">{{ a.album }}</a></li>
    			{% endfor %}
    			</ul>
		{% elif song_list %}
                        <h3>
                        <b>Songs</b>
                        </h3>
			<ul>
			{% for s in song_list %}
				 <li><a href="/music/song/{{s.id}}/">{{s.song_name}}</a></li>
			{% endfor %}
			</ul>
		{% else %}
    			<p>No albums / songs available for this artist.</p>
		{% endif %}		

                </section>
                </div>
                </div>

		{% include "./footer.html" %}


	</body>
</html>
