<!DOCTYPE HTML>
<html>
	<head>
		<title>DJ McLovin Music</title>
		{% include "./header.html" %}
        </head>
        <body>
                {% include "./nav.html" %}

                <div id="main">
                <div id="content" class="container">
                <section>
		<header>
		<h2>	
		Bio	
		</h2>
		<p>
		<h3>
		DJ McLovin is Jim Mortko.
		<p></p>
		<p>
		I'm an avid fan of many genres of music and have been DJing for over 30 years.
		</p>
		I have a true passion for discovering new tunes, blending smooth mixes and making people happy.
		</h3>
		</header>
		<p></p>
		<p>
		Things I think are important:</p>
                <li>A broad familiarity and continuing exploration of various types of music - and the music collection to back it up.
                <li>The skills to work with your equipment / tech and to make it all come together when you need it to.
                <li>The ability to read the crowd and really connect with people.
                </section>
		</div>
		</div>

		<div id="tweet">
                <div class="container">
                                <section>
                                        <blockquote>
					"Everything's right, so just hold tight!"
					</blockquote>
		</section>
		
                </div>
                </div>

		{% include "./footer.html" %}


	</body>
</html>
