<!DOCTYPE HTML>
<html>
	<head>
		<title>DJ McLovin Music</title>
		{% include "./header.html" %}
        </head>
        <body>
                {% include "./nav.html" %}

                <div id="main">
                <div id="content" class="container">
                <section>
		<header>
		<h2>	
		Bio	
		</h2>
		<p>
		<h3>
		DJ McLovin is Jim Mortko.  He's a avid fan of many genres of music and been DJing for over 30 years.  He has a true passion for discovering new tunes, blending smooth mixes and making people happy.
		</h3>
		<p>
		</header>
		<p>
                </section>
		When it comes it comes to DJing there are essentially 3 important principals every DJ should have strengths in:<br>
		<li>A broad understanding and continuing exploration in various types of music - and a music collection to back it up.
		<li>The skills to work with your equipment, technology and abilities to beat-match songs.
		<li>The ability to read the crowd and connect wiht people, so you're consistently making the right choices in what you play.
		
                </div>
                </div>

		{% include "./footer.html" %}


	</body>
</html>
