
		<!-- Footer -->
			<div id="footer">
				<div class="container">
				<section>
				
				<ul class="contact">
					<li><a href="https://www.facebook.com/nycdjmclovin/"class="fa brands fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="https://twitter.com/jskills" class="fa brands fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="https://www.instagram.com/nygoofball/" class="fa brands fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="https://github.com/jskills/" class="fa brands fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="mailto:jim@jskills.com" class="fa fa-envelope"><span class="label">Email</span></a></li>
				</ul>
				</div>
			</div>
			<div id="copyright">
				<div class="container">
					&copy; 2020
				</div>
			</div>
		</div>

