
		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="https://www.facebook.com/nycdjmclovin/" class="icon brands fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="https://www.youtube.com/user/Goofballio/" class="icon brands fa-youtube"><span class="label">Youtube</span></a></li>
					<li><a href="https://soundcloud.com/djmclov1n"><i class="fa fa-soundcloud" aria-hidden="true"></i><span class="label">SoundCloud</span></a></li>
					<li><a href="https://www.twitch.tv/nycdjmclovin"><i class="fa fa-twitch" aria-hidden="true"></i><span class="label">Twitch</span></a></li>
					<li><a href="https://twitter.com/jskills" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="https://www.instagram.com/nygoofball/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="https://github.com/jskills/" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="mailto:jim@jskills.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; 2020-2023</li>
				</ul>
			</footer>
