<!DOCTYPE HTML>
<html>
	<head>
		<title>DJ McLovin Music Database</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/music/assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<h1>DJ McLovin</h1>
			</header>

			<div>

			<li><a href="/music/bio/">Bio</a></li>
                        <li><a href="/music/genre/">Music</a></li>
			<li><a href="/music/mixtape/">Play Lists</a><br>
			<li><a href="/music/shows/">Shows</a>
			<li><a href="/music/live/">Live Stream</a></li>
			</div>
			
		<p>


		<!-- Search Form -->

			<form id="signup-form" method="post" action="/music/search">
				<input type="email" name="search" id="email" placeholder="stuff ..." />
				<input type="submit" value="Search" />
			</form>

		<p>

		{% include "./footer-index.html" %}

		<!-- Scripts -->
			<script src="/static/music/assets/js/main.js"></script>

	</body>
</html>
