<html>
	<head>
		<title>DJ McLovin Music Database</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/music/assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<h1>DJ McLovin</h1>
				<p>This is only the beginning ...<br /></p>
			</header>

		<!-- Signup Form -->
			<form id="signup-form" method="post" action="#">
				<input type="email" name="email" id="email" placeholder="Email Address" />
				<input type="submit" value="Sign Up" />
			</form>

		{% include "./footer-index.html" %}

		<!-- Scripts -->
			<script src="/static/music/assets/js/main.js"></script>

	</body>
</html>
