<!DOCTYPE HTML>
<html>
	<head>
		<title>DJ McLovin Music Database</title>
		{% include "./header.html" %}
        </head>
        <body>
                {% include "./nav.html" %}

                <div id="main">
                <div id="content" class="container">
                <section>
		<header>
		<h2>
		Live Feed
		</h2>
		</header>

		<p>

		<iframe src="https://embed.restream.io/player/index.html?token=be27d39cca890f3934c4aa358bebe7f5" width="960" height="576" frameborder="0" allowfullscreen></iframe><p>Powered by <a href="https://restream.io">Restream.io</a></p>
                </section>
                </div>
                </div>

		{% include "./footer.html" %}


	</body>
</html>
