<!DOCTYPE HTML>
<html>
	<head>
		<title>DJ McLovin Music Database</title>
		<script type="text/javascript" src="/static/music/assets/js/jquery.min.js"></script>
		<script type="text/javascript" src="/static/music/assets/js/jquery.jplayer.min.js"></script>
		<script type="text/javascript" src="/static/music/assets/js/jplayer.playlist.min.js"></script>
		<script type="text/javascript" src="/static/music/assets/js/jquery.jplayer.inspector.min.js"></script>
		<link type="text/css" href="/static/music/skin/pink.flag/css/jplayer.pink.flag.css" rel="stylesheet" />
		{% include "./player.js" with playlist_songs=playlist_songs %}
                {% include "./header.html" %}
        </head>
        <body>

                {% include "./nav.html" %}

                <div id="main">
                <div id="content" class="container">
                <section>
		<header>

		{% if playlist_title %}
			<h2>{{ playlist_title }}</h2>
		{% endif %}

		</header>
		<p>

		{% include "./player.html" %}

                </section>
		<p>
        {% if hourly_songs %}
        <br>
        <b>Total time :</b> {{ total_time }}<p>
        <b>Genre Breakdown:</b><br>
        {% for g in genre_breakdown %}
            {{ g }} <br>
        {% endfor %}
        <p>
        {% for hs in hourly_songs %}
            {% if hs %}
                <b>Hour  : {{ forloop.counter0|add:"-1"}}</b> <br>
                {% for h in hs %}
                    {{h.song_name}} by {{h.full_name}}<br>
                {% endfor %}
                <p>
            {% endif %}
        {% endfor %}
        <br>
        {% endif %}
        <p>


        <!-- plaintext playlist song listing 

		{% include "./songlist.html" with playlist_songs=playlist_songs %}

        --> 
                </div>
                </div>

		{% include "./footer.html" %}

	</body>
</html>
