<!DOCTYPE HTML>
<html>
	<head>
		<title>DJ McLovin Music Database</title>
		<script type="text/javascript" src="/static/music/assets/js/jquery.min.js"></script>
		<script type="text/javascript" src="/static/music/assets/js/jquery.jplayer.min.js"></script>
		<script type="text/javascript" src="/static/music/assets/js/jplayer.playlist.min.js"></script>
		<script type="text/javascript" src="/static/music/assets/js/jquery.jplayer.inspector.min.js"></script>
		<link type="text/css" href="/static/music/skin/pink.flag/css/jplayer.pink.flag.css" rel="stylesheet" />
		{% include "./player.js" with playlist_songs=playlist_songs %}
                {% include "./header.html" %}
        </head>
        <body>

                {% include "./nav.html" %}

                <div id="main">
                <div id="content" class="container">
                <section>
		<header>

		{% if playlist_title %}
			<h2>{{ playlist_title }}</h2>
		{% endif %}

		</header>
		<p>

		{% include "./player.html" %}

                </section>
		<p>
        {% if hourly_songs %}
        {{ hourly_songs }}
        {{ genre_breakdown }}
        {{ total_time }}
        {% endif %}
        <p>
		{% include "./songlist.html" with playlist_songs=playlist_songs %}
                </div>
                </div>

		{% include "./footer.html" %}

	</body>
</html>
