<!DOCTYPE HTML>
<html>
	<head>
		<title>DJ McLovin Music Database</title>
		{% include "./header.html" %}
        </head>
        <body>
                {% include "./nav.html" %}

                <div id="main">
                <div id="content" class="container">
                <section>
		{% if sectionName %}
		<header>
		<h2>
		{{sectionName}}
		</h2>
		</header>
		{% endif %}


		<p>

		{% if contentList %}
    			<ul>
    			{% for cl in contentList %}
        			<li><a href="/music/{{slug}}/{{ cl.url }}">{{ cl.name }}</a></li>
    			{% endfor %}
    			</ul>
		{% else %}
			No {{ section_name }}s found.
		{% endif %}		

                </section>
                </div>
                </div>

		{% include "./footer.html" %}


	</body>
</html>
