<html>
	<head>
		<title>DJ McLovin Music Database</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/music/assets/css/main.css" />
	</head>
	<body>
		<!-- Header -->
			<header id="header">
				<h1><a href="/music/">DJ McLovin</a></h1>
			</header>

		{% if artist_object %}
			<br>
			<a href="/music/artist/{{artist_object.id}}/">{{ full_name }}</a>
		{% endif %}
		{% if cover_url %}
			<br>
			<img src="/media/cover_art/{{ cover_url }}">
			<br>
		{% endif %}
		
		<p>

		{% if song_object %}
			{% if artist_object %}
				<a href="/music/artist/{{artist_object.id}}/">{{artist_object.full_name}}</a>
				<br>
			{% endif %}
			<b>{{ song_object.song_name }}</b>
			<br>
			<audio controls>
				<source src="/media/{{ song_object.file_path }}" type="audio/mpeg">
			</audio>
			<br>
			{% if song_object.album %}
				Album : {{ song_object.album }}
				<br>
			{% endif %}
			{% if song_object.duration %}
				Time : {{song_object.duration}}
				<br>
			{% endif %}
			{% if song_object.year %}
				Year: {{song_object.year}}
				<br>
			{% endif %}
			{% if song_object.comment %}
				Comments : {{song_object.comment}}
				<br>
			{% endif %}
			
		{% else %}
    			<p>No songs available for this artist / song ID.</p>
		{% endif %}		

		{% include "./footer.html" %}

		<!-- Scripts -->
			<!-- <script src="/static/music/assets/js/main.js"></script> -->

	</body>
</html>
