<html>
	<head>
		<title>DJ McLovin Music Database</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/music/assets/css/main.css" />
	</head>
	<body>
		<!-- Header -->
			<header id="header">
				<h1><a href="/music/">DJ McLovin</a></h1>
			</header>

		{% if artist_object %}
			<br>
			<a href="/music/artist/{{artist_object.id}}/">{{ full_name }}</a>
		{% endif %}
		{% if cover_url %}
			<br>
			<img src="/media/cover_art/{{ cover_url }}">
			<br>
		{% endif %}
		
		<p>

		{% if song_object %}
			{% if artist_object %}
				<a href="/music/artist/{{artist_object.id}}/">{{artist_object.full_name}}</a>
				<br>
			{% endif %}
			<b>{{ song_object.song_name }}</b>
			<br>
			<audio controls>
				<source src="/media/{{ song_object.file_path }}" type="audio/mpeg">
			</audio>
			<br>
			{% if song_object.album %}
				Album : {{ song_object.album }}
				<br>
			{% endif %}
			{% if song_object.duration %}
				Time : {{song_object.duration}}
				<br>
			{% endif %}
			{% if song_object.year %}
				Year: {{song_object.year}}
				<br>
			{% endif %}
			{% if song_object.comment %}
				Comments : {{song_object.comment}}
				<br>
			{% endif %}
			
		{% else %}
    			<p>No songs available for this artist / song ID.</p>
		{% endif %}		

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="https://www.facebook.com/nycdjmclovin/"class="icon brands fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="https://twitter.com/jskills" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="https://www.instagram.com/nygoofball/" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="https://github.com/jskills/" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="mailto:jim@jskills.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; 2020</li>
				</ul>
			</footer>

		<!-- Scripts -->
			<!-- <script src="/static/music/assets/js/main.js"></script> -->

	</body>
</html>
