<html>
	<head>
		<title>DJ McLovin Music Database</title>
		{% include "./header.html" %}
        </head>
        <body>
                {% include "./nav.html" %}

                <div id="main">
                <div id="content" class="container">
                <section>
		<header>

		{% if artist_object %}
			<h2>
			<a href="/music/artist/{{artist_object.id}}/">{{ artist_object.full_name }}</a>
			</h2>
		{% endif %}
		</header>
		{% if cover_url %}
			<br>
			<img src="/media/cover_art/{{ cover_url }}">
			<br>
		{% endif %}
		
		<p>

		{% if song_object %}
			<span class="byline">
			<b>{{ song_object.song_name }}</b>
			</span>
			<br>
			<audio controls>
				<source src="/media/{{ song_object.file_path }}" type="audio/mpeg">
			</audio>
			<br>
			{% if song_object.album %}
				Album : {{ song_object.album }}
				<br>
			{% endif %}
			{% if song_object.duration %}
				Time : {{song_object.duration}}
				<br>
			{% endif %}
			{% if song_object.year %}
				Year: {{song_object.year}}
				<br>
			{% endif %}
			{% if song_object.comment %}
				Comments : {{song_object.comment}}
				<br>
			{% endif %}
			
		{% else %}
    			<p>No songs available for this artist / song ID.</p>
		{% endif %}		

                </section>
                </div>
                </div>

		{% include "./footer.html" %}

		<!-- Scripts -->
			<!-- <script src="/static/music/assets/js/main.js"></script> -->

	</body>
</html>
